# hidden files
.*
!.gitignore
!.perltidyrc
!.perlcriticrc
!.travis.yml

# MAC specific
._*
.DS_Store

# editor backup files
*~
*.bak

# generated build files
blib
Makefile*
!Makefile.PL


/File-Name-Check-*
/.build
/_build*
/Build
MYMETA.*
!META.json
/.prove


